<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="<%= backgroundClass %> <%= bodyClass %>">

  <main class="grid-site-content">
    <%- include('partials/header') %>
    <%- body %> <!-- Aqui entra o conteúdo da página -->
  </main>
  
</body>
</html>
