<% data.destinations.forEach(destination => { %>
  <% if(destination.name === 'Europa'){ %>
    <div class="destinations-main-content-div">
      <h1 class="title-of-the-page">
        <span class="number-of-the-page">01</span> PICK YOUR DESTINATION
      </h1>
      <div class="align-itens-in-the-screen">
        <div class="destination-image-div">
          <img src="<%= destination.images.png %>" alt="<%= destination.name %>" class="image-size-adjustment">
        </div>
        <div class="destinations-infos">
          <div class="destinations-nav-div">
            <%- include('partials/destinations-nav') %>
          </div>
          <div class="destination-description">
            <h2 class="destination-title"><%= destination.name %></h2>
            <p class="about-destination"><%= destination.description %></p>
            <hr class="information-divider">
            <div class="align-topics">
              <div class="topics-div">
                <h3 class="informative-topic-title">Avg. distance</h3>
                <h4 class="informative-topic"><%= destination.distance %></h4>
              </div>
              <div class="topics-div">
                <h3 class="informative-topic-title">Est. travel time</h3>
                <h4 class="informative-topic"><%= destination.travel %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  <% } %>
<% }) %>